/* fontes tiradas do google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    overflow: hidden;
    background: fixed;
   
}
.container {
    width: 100%;
    min-height: 100vh;
    background-color: #000000f8;
    background-image: url('imagem/pexels-dmitriy-tarasenko-16013845.jpg');
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    
}
.logo {
    display: flex;
    font-size: 60px;
    font-weight: 800;
    color: cadetblue;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b {
    font-size: 70px;
    color: rgb(239, 237, 241);
}
.navItems {
    display: flex;
} 
.navItems li {
    list-style: none;
    margin: 0 15px;
}
.navItems li a {
    font-size: 25px;
    color: cadetblue;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a, 
.links a:hover {
    color: rgb(242, 240, 243);
}
.links a {
    font-size: 30px;
    color: cadetblue;
    margin: 25px 10px;
    display: flexbox;
}
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cols .col {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
@media (min-width: 768px) {
    .cols .col {
        width: 50%;
    }
}

.topline {
    display: flex;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: cadetblue;
}
.topline::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: rgb(240, 236, 243);
}
h1 {
    display: flex;
    font-size: 7em;
    font-weight: 900;
    color: cadetblue;
}
.multiText {
    
    color: rgb(230, 229, 231);
    text-transform: capitalize;
}
p {
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: cadetblue;

}
.btns {
    width: 100%;
    position: relative;
    left: 150px;
    
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: cadetblue;
    padding: 6px 8px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    
}
button:hover {
    background-color: rgb(26, 24, 27);
}
.imgbox {
    display: flex;
    width: 100%;
    height: 100%;
  
}   
.imgbox img {    
    width: 100%;
    height: auto;
    display: grid;   
    opacity: 60px; 
       
}


 /* Estilos para dispositivos móveis */
 @media only screen and (max-width: 600px) {
    /* Adicione os estilos apropriados para dispositivos móveis aqui */
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adicione os estilos apropriados para tablets aqui */
}

/* Estilos para desktops */
@media only screen and (min-width: 1025px) {
    /* Adicione os estilos apropriados para desktops aqui */
}

@media only screen and (max-width: 600px) {
    .cols {
        width: 100%;
        text-align: center;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    
    margin-top: 50px;

}

#openMenu {
    display: none;

}
